.comment-list{
    z-index: 260;
    height: 100%;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.curvy {
  border-radius: 4px;
}

.list-header {
  display: block;
  padding: 0 16px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-editor {
  height: 100%;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  padding-right: 90px;
  padding-bottom: 20px;
  display: inline-block;
}

.send-comment-button-icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  left: 10px;
  bottom:10px;
  cursor: pointer;
}

.card-body {
  padding: 0 17px 0 58px;
}

.editor {
  padding-top: 15px;
  background: #fff;
  z-index: 261;
}

.content.container{
  /* border: solid #000000 0.1px */
}